<div class="ui top fixed menu">
  <div class="item">
    <img src="https://semantic-ui.com/images/logo.png">
  </div>
  <a routerLink="''" class="item">Actividades</a>
  <a class="ui simple dropdown item">
    Recursos
    <i class="dropdown icon"></i>
    <div class="menu">
      <div class="item">Inscripciones</div>
      <div class="item">Choice 2</div>
      <div class="item">Choice 3</div>
    </div>
  </a>

  <div class="right menu">
    <a class="item">
      <img class="ui avatar image" src="../images/wireframe/square-image.png">
      <span>Username</span>
    </a>
  </div>
</div>
